@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main-bg {
  background: rgb(255, 215, 53);
  background: linear-gradient(37deg, rgba(255, 215, 53, 0.19091386554621848) 0%, rgba(204, 255, 91, 0.227328431372549) 28%, rgba(63, 247, 134, 0.19931722689075626) 58%, rgba(56, 192, 252, 0.24413515406162467) 85%);
}

.main-layout {
  overflow-y: scroll;
  height: 100vh;
}

.main-layout::-webkit-scrollbar{
  display: none;
}
